<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script type="text/javascript" th:fragment="javascript">
    $(document).ready(function () {
        $("#add-product").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/invoices/charge-products/" + request.term,
                    dataType: "json",
                    data: {
                        name: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.id,
                                label: item.name,
                                price: item.price,
                            };
                        }));
                    },
                });
            },
            select: function (event, ui) {
                $("#add-product").val("");
                if (itemsHelper.hasProduct(ui.item.value)) {
                    itemsHelper.increaseQuantity(ui.item.value, ui.item.price);
                    return false;
                }
                let line = $("#items").html();
                line = line.replace(/{ID}/g, ui.item.value);
                line = line.replace(/{NAME}/g, ui.item.label);
                line = line.replace(/{PRICE}/g, ui.item.price);
                $("#chargeItems tbody").append(line);
                itemsHelper.calculateAmount(ui.item.value, ui.item.price, 1);
                return false;
            }
        });
        $("form").submit(function () {
            $("#items").remove();
            return;
        })
    });

    let itemsHelper = {
        calculateAmount: function (id, price, quantity) {
            $("#amount_" + id).html(price * quantity);
            this.calculateTotalAmount();
        },
        hasProduct: function (id) {
            let result = false;
            $('input[name = "item_[]"]').each(function () {
                if (parseInt(id) == parseInt($(this).val())) {
                    result = true;
                }
            });
            return result;
        },
        increaseQuantity: function (id, price) {
            let quantity = $("#quantity_" + id).val() ? parseInt($("#quantity_" + id).val()) : 0;
            $("#quantity_" + id).val(++quantity);
            this.calculateAmount(id, price, quantity);
        },
        deleteItem: function (id) {
            $("#row_" + id).remove();
            this.calculateTotalAmount();
        },
        calculateTotalAmount: function () {
            let total = 0;
            $('span[id^="amount_"]').each(function () {
                total += parseFloat($(this).html());
            });
            $("#totalAmount").html(total);
        }
    }
</script>
</body>
</html>